// 색상, 폰트 등의 변수명

$DEF_FONT_SIZE: 16px;
$DEF_COLOR: #111;
$DEF_FONT_WEIGHT: 400;
$DEF_MARGIN: 10px;
$DEF_PADDING: 10px;
$DEF_WIDTH: 50px;
$DEF_HEIGHT: 50px;
$DEF_LINE_HEIGHT: 16px;
$DEF_BORDER_RADIUS: 6px;
